{% extends "comics/layout.html" %}
{% load static %}

{% block body %}
{% csrf_token %}


<div class="p-3 mb-2 bg-warning text-dark">
    <p class="h4">Username: <b>{{ profile.username }}</b></p>
    <p class="h5">Series: <b>{{ profile.series.count }}</b></p>
</div>

    <div id="bio" class="border border-info text-info rounded m-2 p-2">
        <b>About me:</b>
        <hr class="bg-info">
        <div id="bio_content">{{ profile.bio }}</div>
        {% if user.is_authenticated %}
        <div class="mt-2">
            {% if user.username == profile.username %}
            <button class="btn btn-primary" id="edit"value="{{ user }}" type="submit" value="Edit Bio">Edit Bio</button>
            {% endif %} 
        </div>
        {% endif %}
    </div>
        

<h3 >Series published by this author</h3>
<div class="d-flex flex-wrap justify-content-center">
{% for series in profile.series.all|dictsortreversed:"id" %}
    <div class="d-flex flex-column p-2 m-2">
        <div id="thumbnail">
            <a href="{% url 'series_detail' series.title %}"><img src="{{ series.cover.url }}" width=200 height="300" alt=""></a>
        </div>

        <div class="text-wrap mt-2" style="width: 10rem;">
            <h5>{{ series.title }}</h5>
        </div>

        <div>
            {% if series.finished %}
                Ongoing: No
            {% else %}
                Ongoing: Yes
            {% endif %}
        </div>

    </div>
{% empty %}
    This User hasn't published any series yet.
{% endfor %}
    
</div>
</div>
{% endblock %}

{% block script %}
    <script src="{% static 'comics/profile.js' %}"></script>
{% endblock %}

